{% extends 'base.html' %}

{% block content %}
<div class="jumbotron">
    <h1>Please enter your user name</h1>
    <br>
    <p>User name must be all 3:</p>
    <ul>
        <li>One lower case</li>
        <li>One UPPER CASE</li>
        <li>One number at the end of user name</li>
    </ul>
    <br>
    <form action="{{ url_for('report') }}">
        <label for="user_name">User Name:
            <input type="text" name="user_name">
        </label>
        <input type="submit" value="Submit Form">
    </form>
</div>

{% endblock %}